

// sec1 start done

@import '/scss/bootstrap.scss' 

body {

            padding: 0;
            margin: 0;
            color: #3E5B43;}

        a {
            text-decoration-line: none;
            color: #3E5B43;

        }

        .humberger {
           
            margin: auto;
            
        }



        .btn::hover a {
            background-color: #fff;
            text-decoration-line: underline;
            /* color:#3E5B43 ; */
        }


        .d-flex {
            display: flex;
        }

        .d-none {
            display: none;
        }

        .flex-column {
            flex-direction: column;
        }

        .container {
            margin: 0 auto;

            max-width: 960px;

        }

        .header {
            width: 100%;
            justify-content: space-between;


        }

        .navbar {
            padding: 38px 0 40px 0;

            justify-content: space-between;
            .home,
            .sweet,
            .login {
            font-size: 16px;
            line-height: 24px;
            /* margin-right: 60px; */
           
            justify-content: space-between;}

            

            .home:hover {
                border-bottom: #EAF0ED 2px solid;
                /* background-color: #EAF0ED; */
            }
            .sweet:hover {
                border-bottom: #EAF0ED 2px solid;
                /* background-color: #EAF0ED; */
            }
            .login:hover {
                border-bottom: #EAF0ED 2px solid;
                /* background-color: #EAF0ED; */
            }

            div>a {
                padding: 0 30px;
            }
    

        }


        

    //    sec1 end

    // sec2 start done
        
        



        .nav-img {
            



            margin-left: 19px;

            :hover {

                background-color: #EAF0ED;
   
               margin-left: 19px;
           }
        }

        

        .navbar img {
            width: 24px;
            height: 24px;

        }



        .logo-img {
            margin: auto 0;
            width: 230px;
        }


        .banner img {
            width: 100%;
        }



        .content {
            width: 100%;
            margin-top: 60px;

        }







        .menu {
            width: 320px;

            margin-right: 20px;

            .btn {
                width: 300px;
                height: 65px;
                /* padding-right: 20px; */
    
    
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                line-height: 40px;
                font-weight: 600;
    
                color: #3E5B43;
                background-color: #fff;
    
                border-bottom: 1px solid #EAF0ED;
                border-left: 1px solid #EAF0ED;
                border-right: 1px solid #EAF0ED;
            }


            .btn~.btn:hover {
                /* text-decoration-line: underline; */
                background-color: #EAF0ED;
                /* color: #3E5B43; */
            }

            .active {
                /* color:#3E5B43 */
    
                background-color: #EAF0ED;
    
    
    
            }

            .bg-green {
                background: #3E5B43;
                color: #ffff;
                font-size: 24px;
            }
        }


        // sec2 end

        



        

       



        

        .bg-green {
            background: #3E5B43;
            color: #EAF0ED;

        }

        .bg-lgreen {
            background: #EAF0ED
        }

        .product {
            widows: 620px;
            ;

            display: flex;

            justify-content: space-between;
            flex-wrap: wrap;
        }


        .product-item {
            position: relative;
            width: 300px;
            margin-bottom: 20px;

            font-size: 20px;
            font-weight: 600;
            color: #3E5B43;
            border: 1px solid #EAF0ED;

            img {
                width: 100%;
                height: 315px;
                vertical-align: middle;
            }
    
            
    
            a.btn {
                display: block;
    
                padding: 16px;
                font-weight: 600;
    
    
    
                background: #EAF0ED;
                text-align: center;
                
                :hover {
                    color: #ffff;
                    background-color: #3E5B43;
                    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
                }
            }
    
            

            .info {

                display: flex;
                padding: 0;
                justify-content: space-between;
            }



        }



        .fw-600 {
            font-weight: 600;

        }

        .name,
        .price {
            width: 50%;
            text-align: center;
            font-weight: 300;
            /* line-height: ; */
            font-size: 20px;
            color: #3E5B43;
            padding: 14px 0;
            margin: 0;






        }

        .name {
            

            border-right: 1px solid #EAF0ED;
            
        }


        .price {
            font-weight: 600;
           
        }





        


        .tag {
            position: absolute;
            display: flex;
            padding: 16px;

            top: 0;

            left: 0;
            font-size: 20px;
            background: #3E5B43;
            color: #fff;
        }

        

        .love {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 22px;
            top: 19px;

        }





        .icon>img {
            width: 40px;

        }


        .page-group {

            justify-content: flex-end;

        }



        .page {
            border: 1px solid #EAF0ED;
            width: 58px;
            height: 58px;
            background: #ffffff;
            ;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;

            :hover {

                background-color: #EAF0ED;
    
            }


        }

        
        a>.page.active {

            background: #3E5B43;
            color: #fff;
        }


        .footer {
            max-width: 100%;
            margin: 60px auto 0;

            .contact {
                height: 116px;
    
                display: flex;

                
                
                

                .c-container {

                    justify-content: space-between;
                }
    
    
            }
        }

        


        

        

        .footer .logo img {
            width: 40px;
            height: 40px;

            margin: auto 0px;


        }

        .contact .logo {
            width: 276px;
            display: flex;

        }

        .footer .c-container {

            justify-content: space-between;
        }

        .logo-text {
            /* 上方綠色 */
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            margin: auto 0px auto 20px;
        }

        .input-btn {
            width: 380px;
            height: 56px;
        }

        .shop-wrap,
        .copy-wrap,
        .c-container {
            max-width: 940px;
            margin: auto;


        }

        .copy-wrap {
            margin-top: 37px;
        }

        .footer .info,
        .slogan,
        .icon>img {
            margin-top: 30px;
        }

        .shop-wrap img {
            width: 171.22px;
            height: 26.6px;
            margin-top: 8.9px;



        }

        .info-text {
            /* width: 227px; */
            margin-top: 115.5px;
            color: #3E5B43;


        }

        .shop-wrap>.info {



            font-size: 16px;
            line-height: 20px;

            flex-direction: column;

        }

        .icon img {


            width: 30px;
            height: 30px;
        }

        .foot-bottom {
            height: 341px;
        }

        .slogan {

            font-size: 24px;
            width: 59.28px;
            color: #3E5B43;

            margin-left: auto;

        }

        .copy {
            font-size: 16px;
            line-height: 19px;
            display: flex;

            align-items: flex-end;
            margin-left: auto;
            color: #3E5B43;

        }

        .slo-text1 {
            margin-top: 11.14px;
            padding-right: 13.23px;

        }

        .straight {


            display: flex;
            justify-content: center;

            div {
                width: 1px;
                height: 50px;
                background: #3E5B43;
    
            }


        }

        

        .dot {


            width: 30px;
            height: 30px;
            background-color: #3E5B43;


        }



        .input-btn {

            padding: 30px 0;
            margin-right: 0px;

        }

        .email-form {
            position: relative;


            height: 56px;

            input {
                width: 316px;
                height: 56px;
                border: none;
                padding: 0;
            }

            img {
                position: absolute;
                padding: 16px 20px;
                pointer-events: none;
            }
        }



        




       

        .input-btn>button {
            width: 64px;
            height: 56px;
            background: #FFE180;
            border: none;


        }




        @media screen and (max-width:414px) {


            .home,
            .sweet,
            .login {
                display: none;
            }

            .humberger {
                display: flex;
                margin: auto 20px;

            }

            .nav-img {

                margin-right: 20px;
            }



            .banner {
                width: 100%;
            }





            .content {
                flex-direction: column;
            }

            .menu {
                width: 100%;
            }

            .product {
                margin-top: 15px;
            }


            .product-item {

                margin: 15px auto;
            }



            .page-group {
                justify-content: center;
            }

            .contact {
                flex-direction: column;
                margin: 30px auto 0;
                font: normal normal normal 24px/29px Helvetica Neue;

            }

            .footer {
                flex-direction: column;
            }

            .contact>.logo {
                margin: 30px auto;
            }



            .input-btn {
                width: 315px;
                /* height: 56px; */
                margin: auto;
                /* justify-content: center; */

                /* flex-wrap: nowrap; */

            }

            .email-form {
                width: 251px;
            }






            .footer {
                margin-top: 30px;
            }

            .foot-bottom {
                height: 100%;
                flex-direction: column;
                padding-left: 30px;
            }

            .slogan {
                display: none;
            }

            .copy-wrap {
                flex-direction: column;

            }


            .copy {
                align-items: flex-start;
                margin: 23px 0 0 0;
            }

            .footer>.contact {
                height: 100%;
                display: flex;
            }

            .shop-wrap {
                flex-direction: column;
            }

            button img {
                width: 16px;
                height: 1vh;
                margin: 20px 24px;
            }

            .content {
                width: 100%;
                margin-top: 0;
            }

            .menu>.btn {
                width: 100%;
            }

        }